header {
  box-sizing: border-box;
  height: 57px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background-color: #168171;
}
header > .header-title {
  padding: 0 .2rem;
}
header > .header-title > a {
  width: 70%;
}
header > .header-title > a > img {
  width: 100%;
}
header > .header-title > img {
  display: block;
  width: 1rem;
}
header > .header-nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  left: 0;
  display: none;
}
header > .header-nav > ul {
  padding: 0  1em;
}
header > .header-nav > ul > li {
  display: inline-block;
  width: 23%;
  padding-top: 1em ;
}
header > .header-nav > ul > li > a {
  display: block;
  text-align: center;
}
header > .header-nav > ul > li > a > img {
  display: inline-block;
  width: 50%;
}
header > .header-nav > ul > li > a > p {
  text-align: center;
  line-height: 2em;
}
