#r-result #results {
  padding: 0;
}
#r-result #results > li {
  padding: 0 1em;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  line-height: 2em;
}
#r-result #results .choosed {
  background-color: #168171;
  color: #fff;
}
.call {
  position: relative;
  height: 15%;
}
.call > div {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.call > div > a {
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 5px;
  background-color: #168171;
  color: #fff;
  display: inline-block;
}
